
[Unit]
Description=adsbfi-feed
Wants=network.target
After=network.target

[Service]
User=adsbfi
RuntimeDirectory=adsbfi-feed
ExecStart=/usr/local/share/adsbfi/adsbfi-feed.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=adsbfi-feed
Nice=-1

[Install]
WantedBy=default.target
