
[Unit]
Description=adsbfi-mlat
Wants=network.target
After=network.target

[Service]
User=adsbfi
RuntimeDirectory=adsbfi-mlat
ExecStart=/usr/local/share/adsbfi/adsbfi-mlat.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=adsbfi-mlat
Nice=-1

[Install]
WantedBy=default.target
