
[Unit]
Description=adsbexchange-mlat
Wants=network.target
After=network.target

[Service]
EnvironmentFile=/etc/default/adsbexchange
ExecStart=/usr/bin/mlat-client \
	--input-type dump1090 --no-udp \
	--input-connect $INPUT \
	--server $MLATSERVER \
	--user $USER \
	--lat $RECEIVERLATITUDE \
	--lon $RECEIVERLONGITUDE \
	--alt $RECEIVERALTITUDE \
	--results $RESULTS
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=adsbexchange-mlat

[Install]
WantedBy=default.target
