
[Unit]
Description=adsbexchange-feed
Wants=network.target
After=network.target

[Service]
User=adsbexchange
RuntimeDirectory=adsbexchange-feed
ExecStart=/usr/local/share/adsbexchange/adsbexchange-feed.sh
Type=simple
Restart=always
RestartSec=30
SyslogIdentifier=adsbexchange-feed

[Install]
WantedBy=default.target
